.cus_pe{
    font-size: 50px;
}
.mb_bottom{
    margin-bottom: 200px ;
}
.ques{
    background-color: #3e4763;
    font-size: 50px;
    padding: 50px 20px;
    color: white;
    cursor: pointer; 
}
.ans{
    background-color: #e34d4d;
    font-size: 20px;
    padding: 50px 20px;
    display: none;   
}
#m_in{
    background-color: #323743;
    font-size: 50px;
    padding: 50px 20px;
    color: white;
    cursor: pointer; 
}
#m_show{
    background-color: #c3a0a0;
    font-size: 20px;
    padding: 50px 20px;
    display: none;   
}

#draggable { width: 250px; height: 150px; padding: 0.5em; background-color: rgb(185, 185, 112); }

.auto{
    margin-top: 50px;
}
#resize{
    width: 200px; height: 150px;
    border: 1px solid;
    background-color: magenta;
    color: white;
}

#sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 40%; 
}
#sortable li { 
    margin: 0 3px 3px 3px;
    list-style: none;
    padding: 0px;
    padding-left: 1.5em;
    font-size: 16px;
    height: 25px;
}